.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
    font-weight: 700;
}

.red {
    background: lightcoral;
}

.red-text {
    color: #00ffc4;
    font-weight: 700;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
    font-weight: 700;
}

.homeworks12 {
    color: darkred;
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 15px;
}

.main {
    margin-left: 15px;
}