.message {
    display: flex;
    align-items: flex-end;
    margin: 20px
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 3px darkred;
}

.content {
    padding: 10px;
    border-radius: 15px 15px 15px 0px;
    background-color: rgb(169, 169, 169);
}

.radius {
    width: 40px;
    height: 40px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 40px, rgb(169, 169, 169) 0);
}

.text {
    min-width: 150px;
    max-width: 250px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}

.time {
    display: flex;
    justify-content: flex-end;
    height: 22px;
    font-weight: bold;
}