@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');

.affairs {
    background-color: rgb(222 184 135);
    border: solid 2px darkred;
}

.homeworks2 {
    color: darkred;
    font-size: 1.6em;
    font-weight: bold;
}

.affair {
    display: flex;
    padding-top: 15px;
}

.table {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    background-color: darkgrey;
    width: 300px;
    border-radius: 10px;
}

.name {
    margin-left: 20px;
    width: 100px;
    font-weight: bold;
}

.high {
    color: #d70505;
}

.low {
    color: #0b7215;
}

.middle {
    color: #6c450f;
}

.button {
    background-color: #77a97b;
    margin: 15px 0 10px 10px;
    width: 60px;
    height: 25px;
    border: dot-dash 1px darkred;
    border-radius: 5px;
    font-weight: bold;
    font-family: Century;
}

.buttons {
    margin-left: 10px;
}

.button_del {
    background-color: #c2471f;
    padding-top: 2px;
    border-radius: 5px;
}

/*alternative*/


.alternativeAffairs {
    background-color: rgb(222 184 135);
    border: solid 2px darkred;
}

.alternativeAffair {
    display: flex;
    padding-top: 15px;
}

.alternativeTable {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    background-color: #e0c3c3;
    width: 300px;
    border-radius: 35px 0 35px 0;
    border: outset 3px;
}

.food {
    margin-left: 20px;
    width: 100px;
    font-weight: bold;
}

.neutral {
    color: #2472b0;
}

.helpful {
    color: #0b7215;
}

.bad {
    color: #cc0015;
}

.alternativeButton {
    background-color: #77a9a3;
    margin: 15px 0 10px 10px;
    width: 60px;
    height: 25px;
    border-radius: 10px 0;
    font-weight: bold;
}

.alternativeButtons {
    margin-left: 10px;
}

.alternativeButton_del {
    background-color: #dcb452;
    padding-top: 2px;
    border-radius: 5px;
    border: dot-dash 1px darkred;
    margin-right: 20px;
}

.title {
    margin-top: 15px;
    width: 300px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #5b0505;
    text-decoration: underline;
}

.active {
    background-color: #56c760;
}