.homeworks3 {
    color: darkred;
    font-size: 1.6em;
    font-weight: bold;
}

.greeting {
    display: flex;
    align-items: flex-start;
    margin-left: 5px;
}

.input{
    width: 170px;
    border: inset 2px;
}

.error {
    color: red;
    font-weight: bold;
}

.button {
    background-color: #77a97b;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 5px;
}

.count {
}